.App {
  text-align: center;
}

.App-header {
  background-color: #4602e6;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.main{
background-color: #f50a0a;
  min-height: 10vh;
  font-size: 30px;
  display: flex;
  align-items: left;
  color: white;
}



:root{
--primary: #9e28ff;

}

.btn{
font-family: Georgia, 'Times New Roman', Times, serif;
font-weight: 400;
transition: transform 0.5s ease;
background-color: var(--primary);
color: whitesmoke;
border: none;
padding: 10px 400px;
font-size: 30px;
margin-top: 50px;
}

.btn:hover{
transform: translateY(-3px);
}

